<%= simple_form_for(@horario, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  

  <%= f.input :dia, collection: [ "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"], :label => "Dia",  :required => true %>
  <%= f.input :hora, :label => "Hora", :required => true %>
  <%= f.input :aula, collection: ["aula-201", "aula-202", "aula-203"], :label => "Aula",  :required => true %>

  <%= f.label :materia %>    
  <%= f.collection_select :materia_id, Materia.all, :id, :nombre %>

  <%= f.label :instructor %>   
  <%= f.collection_select :instructor_id, Instructor.all, :id, :nombres %>

  <%= f.label :curso %>    
  <%= f.collection_select :curso_id, Curso.all, :id, :nombre %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', horarios_path, :class => 'btn btn-small' %>
  </div>
<% end %>
