<%= simple_form_for(@horario, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  

  <%= f.input :dia, collection: [ "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"], :label => "Dia",  :required => true %>
  <%= f.input :hora, :label => "Hora", :required => true %>
  <%= f.input :aula, collection: ["aula-201", "aula-202", "aula-203"], :label => "Aula",  :required => true %>

  <!-- lixbox dependientes -->
  <%= f.label :materia_id %>    
  <%= f.collection_select :materia_id, Materia.all, :id, :nombre, prompt: "Seleccione una Materia"  %>
  <br><br>
  <%= f.label :instructor_id %>   
  <%= f.collection_select :instructor_id, Instructor.all, :id, :nombres, prompt: "Seleccione una Instructor"  %>
  <br><br>
  <%= f.label :curso_id %>    
  <%= f.collection_select :curso_id, Curso.all, :id, :nombre, prompt: "Seleccione una Curso"  %>
  <br><br>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
   
    <%= link_to 'Atras', horarios_path, :class => 'btn btn-small' %>
  </div>
<% end %>
