<br>
<br>
<%- model_class = Horario -%>

<div class="page-header"><p class="text-success">
  <h1><center><p class="text-success">HORARIOS</p></center></h1>
  <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  <%= image_tag('search2.png', :alt => '', :class => "img-circle" ) %>
  <%= text_field_tag :search, params[:search], :placeholder => "buscar por aula" %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= submit_tag "Consultar", :class => 'btn btn-inverse', :aula => nil %>
  <% end %>
  <% end %>
  <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  Registros por página:
  <%= text_field_tag :numreg, params[:numreg], :class =>'input-mini' %>
  <% end %>
  <% end %>
</div>
<table class="table table-hover table-bordered table-condensed pretty ">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "dia" %></th>
      <th><%= sortable "hora" %></th>
      <th><%= sortable "aula" %></th>
      <th><%= sortable "materia" %></th>
      <th><%= sortable "instructor" %></th>
      <th><%= sortable "curso" %></th> 
      <th>Acciones<th>     
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @horarios %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevos Horarios', new_horario_path, :class => 'btn btn-success', :remote => true %></td>
    </tr>
  </tfoot>
</table>
<br />
<br />
<div align="center">
<%= will_paginate @horarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
<em>Total Horarios Programados : </em><%= @horarios.total_entries %>
</p>
