<br>
<br>
<%- model_class = Curso -%>
<div class="page-header">
  <h1><center><p class="text-success">CURSOS</p></center></h1>
  <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  <%= image_tag('search2.png', :alt => '', :class => "img-circle" ) %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= text_field_tag :search, params[:search], :placeholder => "nombre del curso" %>
  <%= submit_tag "Consultar", :class => 'btn btn-inverse', :nombre => nil %>
  <% end %>
  <% end %>
    <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  Registros por página:
  <%= text_field_tag :numreg, params[:numreg], :class =>'input-mini' %>
  <% end %>
  <% end %>
</div>

<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
       <th><%= sortable "ficha" %></th>
      <th><%= sortable "nombre" %></th>
      <th>Acciones</th>
      <th>Hacia:</th>
  
    </tr>
  </thead>
  <tbody>
     <%= render @cursos %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>
<td><%= link_to 'Nuevo Curso', new_curso_path, :class => 'btn btn-success', :remote => true %></td>
<br />
<br />
<div align="center">
<%= will_paginate @cursos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p id="totcurs">
<em>Total Cursos : </em><%= @cursos.total_entries %>
</p>