<%= simple_form_for([@curso,@estudiante], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :nombre, :label => "Nombre",  :required => true %>
  <%= f.input :apellidos, :label => "Apellidos",  :required => true %>
  <%= f.input :cedula, :label => "Cedula",  :required => true %>
  <%= f.input :telefono, :label => "Telefono",  :required => true %>
  <%= f.input :email, :label => "Email",  placeholder: 'user@domain.com', :required => true %>
  <%= f.input :direccion, :label => "direccion",  :required => true %>
  <%= f.input :fch_nacimiento, as: :date, start_year: Date.today.year - 50, end_year: Date.today.year - 10, accept_day: true, order: [:day, :month, :year] %>
  <br>
  <%= f.label :curso %>   
  <%= f.collection_select :curso_id, Curso.all, :id, :nombre %>
   
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', curso_estudiantes_path, :class => 'btn btn-small' %>
  </div>
<% end %>
