<br>
<br>
<%- model_class = Estudiante -%>
<div class="page-header">
  <h1><center><p class="text-success">ESTUDIANTES</p></center></h1>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
<%= image_tag('search2.png', :alt => '', :class => "img-circle" ) %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
<%= text_field_tag :search, params[:search], :placeholder => "nombre, cédula, teléfono o email" %>
<%= submit_tag "Consultar", :class => 'btn btn-inverse', :nombre => nil %>
<% end %>
<% end %>
    <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  Registros por página:
  <%= text_field_tag :numreg, params[:numreg], :class =>'input-mini' %>
  <% end %>
  <% end %>
</div>
<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "nombre" %></th>
      <th><%= sortable "apellidos" %></th>
      <th><%= sortable "cedula" %></th>
      <th><%= sortable "telefono" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "direccion" %></th>
      <th><%= sortable "f_nacimiento" %></th>
      <th><%= sortable "curso" %></th>
      <th>Acciones</th>
      
    </tr>
  </thead>
  <tbody>
     <%= render @estudiantes %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
    <td><%= link_to 'Atras', cursos_path, :class => 'btn btn-small' %></td>
  </tfoot>
</table>
<td><%= link_to 'Nuevo Estudiante', new_curso_estudiante_path(@curso), :class => 'btn btn-success', :remote => true %></td>
<br />
<br />
<div align="center">
<%= will_paginate @estudiantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
<em>Total Aprendices : </em><%= @estudiantes.total_entries %>
</p>
