<%- model_class = Estudiante -%>
<div class="page-header">
  <h1><center>Estudiantes</center></h1>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
<span class="label label-inverse">Nombre Aprendiz:</span>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Consultar", :class => 'btn btn-inverse', :name => nil %>
<% end %>
<% end %>
</div>
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Cedula</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Fecha Nacimiento</th>
      <th>Curso</th>
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @estudiantes %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Estudiante', new_estudiante_path, :class => 'btn btn-success', :remote => true %></td>
    </tr>
  </tfoot>
</table>
<br />
<br />
<div align="center">
<%= will_paginate @estudiantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
<em>Total Aprendices : </em><%= @estudiantes.total_entries %>
</p>
