<%= link_to "Home", root_path %>
<left><%=image_tag('cap4.png', :alt => '', :class => "img-rounded" ) %><left>
<ul class="nav">
    <!-- if user_signed_in? %>  -->
    <li>
      <h5>CAPACITACION DIGITAL</h5>
    </li>
    <li>
    <%= link_to('Cursos', cursos_path ) %>
    </li>
    <li>
    <%= link_to('Horarios', horarios_path) %>
    </li>
   <!-- else %> -->
    <li>
    <%= link_to('Instructores', instructores_path)  %>
    </li>
   <!-- end %> -->
  <!-- if user_signed_in? %> -->
    <li>
    <%= link_to('Materias', materias_path) %>
    </li>

    <li>
      <%= link_to('Registrarse', signup_path) %>
    </li>
    <li>
    <%= link_to "Log in", login_path %>
    </li>
    <li>
    <%= link_to "Log out", logout_path %>
    </li>
  <!-- end %> -->

</ul> 
